<p>Hello <%= [@user.first_name, @user.last_name].join(' ') %> !</p>

<p>You or someone on your behalf requested to reset your password.</p>

<p>To proceed, click the link below to create your new password:</p>

<p><a href="<%= @url %>">Change my password</a></p>

<p>If you didn’t request your password to be reset, you don’t need to take any action. If you have any questions whatsoever, please get in touch.</p>

<p>Regards,</p>

<p>The Vitamin Team</p>
