<p>Greetings <%= @user.first_name %>,</p>

<p>The team here at Vitamin would like to welcome you to your online learning platform.</p>

<p>Please confirm your account by clicking on the following link:
  <a href="<%= @url%>">Confirmation Link</a>
</p>

<p>Upon clicking on the Confirmation Link, you will be redirected to another web page, and you may continue to log in from the page.</p>

<p>If you faced any problems accessing your account, please inform us at [need to wait for the client to provide an email]</p>

<p>Thank you,</p>

<p>Vitamin Team</p>
