<p>Greetings <%= @user.first_name %>,</p>

<p>The team here at PostLike would like to welcome you to use my website.</p>

<p>Please confirm your account by clicking on the following link:
  <a href="<%= @url%>">Confirmation Link</a>
</p>

<p>Upon clicking on the Confirmation Link, you will be redirected to another web page, and you may continue to log in from the page.</p>

<p>If you faced any problems accessing your account, please inform us at uraniumota.team@gmail.com</p>

<p>Thank you,</p>

<p>Uranium Team</p>
