.body {
  background: none;
  font-family: 'Open Sans', sans-serif; }

.padding-0 {
  padding: 0 !important; }

.search-form-modified {
  position: relative; }
  .search-form-modified .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    box-shadow: none; }
    .search-form-modified .btn-search .fa {
      font-size: 17px; }
  .search-form-modified .input-search {
    padding-right: 30px;
    width: 285px; }

nav.navbar {
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

nav.navbar.navbar-default .navbar-nav > li > a {
  color: #444;
  font-size: 17px; }

nav.navbar.navbar-default .navbar-nav > .open > a, nav.navbar.navbar-default .navbar-nav > .active > a {
  color: #444; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-size: 25px;
  font-weight: 700;
  color: #000; }
