.body {
  background: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.search-form-modified {
  position: relative; }
  .search-form-modified .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    box-shadow: none; }
  .search-form-modified .input-search {
    padding-right: 30px;
    width: 285px; }

nav.navbar {
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

nav.navbar.navbar-default .navbar-nav > li > a {
  color: #444;
  font-size: 15px; }

nav.navbar.navbar-default .navbar-nav > .open > a, nav.navbar.navbar-default .navbar-nav > .active > a {
  color: #444; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  color: #000;
  font-weight: 700; }
