.body {
  background: none;
  font-family: 'Open Sans', sans-serif; }

.padding-0 {
  padding: 0 !important; }

.search-form-modified {
  position: relative; }
  .search-form-modified .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    box-shadow: none; }
    .search-form-modified .btn-search .fa {
      font-size: 17px; }
  .search-form-modified .input-search {
    padding-right: 30px;
    width: 285px; }

nav.navbar {
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

nav.navbar.navbar-default .navbar-nav > li > a {
  color: #444;
  font-size: 17px; }

nav.navbar.navbar-default .navbar-nav > .open > a, nav.navbar.navbar-default .navbar-nav > .active > a {
  color: #444; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-size: 25px;
  font-weight: 700;
  color: #000; }

.button-drag {
  display: block; }
  .button-drag .fa-hand-o-right {
    margin-left: 10px; }
  .button-drag .btn-hover {
    display: inline;
    margin-left: 20px; }
  .button-drag .nav-bar-hidden {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #c28a42;
    color: #fff; }
    .button-drag .nav-bar-hidden .fa-hand-o-up {
      margin-right: 10px;
      margin-left: 50px; }

h2.post-title {
  text-transform: none; }
