.body {
  background: none;
  font-family: 'Open Sans', sans-serif !important; }

.padding-0 {
  padding: 0 !important; }

.search-form-modified {
  position: relative;
  display: none !important; }
  .search-form-modified .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    box-shadow: none; }
    .search-form-modified .btn-search .fa {
      font-size: 17px;
      color: #000; }
  .search-form-modified .input-search {
    padding-right: 30px;
    width: 285px; }

nav.navbar {
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

nav.navbar.navbar-default .navbar-nav > li > a {
  color: #444;
  font-size: 17px; }

nav.navbar.navbar-default .navbar-nav > .open > a, nav.navbar.navbar-default .navbar-nav > .active > a {
  color: #444; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-size: 25px;
  font-weight: 700;
  color: #000; }

.button-drag {
  display: block; }
  .button-drag .fa-hand-o-right {
    margin-left: 10px; }
  .button-drag .btn-hover {
    display: inline;
    margin-left: 20px; }
  .button-drag .nav-bar-hidden {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #d5274b;
    color: #fff; }
    .button-drag .nav-bar-hidden .fa-hand-o-up {
      margin-right: 10px;
      margin-left: 50px; }

h2.post-title {
  text-transform: none; }

.text-24 {
  font-size: 24px; }

.text-18 {
  font-size: 18px; }

.text-bold {
  font-weight: bold; }

.btn-kelly {
  line-height: 1;
  font-size: 18px;
  color: #fff;
  background-color: #C82647;
  border-radius: 4px; }

.container-how-to-use {
  margin-top: 50px; }
  .container-how-to-use .button-drag {
    height: 80px;
    line-height: 75px;
    margin-left: 15px; }
  .container-how-to-use .explain {
    margin-top: 50px; }
    .container-how-to-use .explain span {
      margin-left: 15px; }

h3.post-subtitle {
  text-transform: none; }

a {
  cursor: pointer; }
