body {
  font-family: 'Open Sans', sans-serif !important; }
  body.login {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("../images/books_login.jpg") no-repeat;
    background-size: cover; }

header {
  background: url("../images/home-bg.jpg") no-repeat;
  background-size: cover !important;
  height: 400px; }
  header .page-title {
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 300px;
    text-align: center; }

img.logo {
  border-radius: 50%; }

.error-placeholder {
  color: #ff531e;
  margin-bottom: 5px; }

.btn-css {
  line-height: 1;
  font-size: 18px;
  color: #f3f3f3;
  background-color: #c28a42;
  border-radius: 4px; }

.color-label {
  color: #fff; }

.container-form {
  margin-top: 150px; }
  .container-form form {
    font-size: 18px; }
    .container-form form .form-group .form-control {
      height: 50px;
      font-size: 18px;
      color: #333; }
    .container-form form .forgot-password {
      margin-bottom: 15px; }
    .container-form form .sign-up {
      margin-top: 15px; }

.container-form-sign-up {
  margin-top: 50px;
  font-size: 18px;
  color: #fff; }
  .container-form-sign-up .header {
    font-size: 28px;
    font-weight: bold; }
  .container-form-sign-up .forgot-password {
    margin-bottom: 15px; }

.form-group-custom .form-group .form-control {
  height: 50px;
  font-size: 18px;
  color: #333; }

.sign-up-success-title {
  font-size: 22px;
  color: #fff; }

.sign-up-success-text {
  font-size: 20px;
  color: #fff; }

.sign-up-success-text-1 {
  font-size: 18px;
  color: #fff; }

.link-to-sign-up {
  margin-bottom: 50px; }

.sign-in-page {
  color: #fff; }
  .sign-in-page .header {
    font-size: 28px;
    font-weight: bold; }

.button-margin {
  margin-top: 20px; }

img.logo {
  border-radius: 50%; }

.img-circle {
  width: 250px; }

.team-member {
  text-align: center;
  margin-bottom: 50px; }

.team-member img {
  margin: 0 auto;
  border: 7px solid white; }

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none; }

.team-member p {
  margin-top: 0; }

ul.social-buttons {
  margin-bottom: 0; }

ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #fed136; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px; }

section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px; }

p.large {
  font-size: 16px; }

.text-muted {
  color: #777777; }
