body {
  &.login {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('../images/books_login.jpg') no-repeat;
    background-size: cover;
  }
}

header {
  background: url('../images/home-bg.jpg') no-repeat;
  background-size: cover;
  height: 500px;
}

img.logo {
  border-radius: 50%;
}

.error-placeholder {
  color: #ff531e;
  margin-bottom: 5px;
}

.btn-css {
  height: 50px;
  font-size: 18px;
  color: #f3f3f3;
  background-color: #c28a42;
  border-radius: 4px;
}

.color-label {
  color: #fffebf;
}

.container-form {
  margin-top: 150px;
  form {
    font-size: 18px;
    .form-group {
      .form-control {
        height: 50px;
        font-size: 18px;
        color: #333;
      }
    }

    .forgot-password {
      margin-bottom: 15px;
    }

    .sign-up {
      margin-top: 15px;
    }
  }
}

.container-form-sign-up {
  margin-top: 50px;
  font-size: 18px;
  .header {
    font-size: 28px;
    font-weight: bold;
  }
  .forgot-password {
    margin-bottom: 15px;
  }
}

.form-group-custom {
  .form-group {
    .form-control {
      height: 50px;
      font-size: 18px;
      color: #333;
    }
  }
}

.sign-up-success-title {
  font-size: 22px;
  color: #fffebf;
}

.sign-up-success-text {
  font-size: 20px;
  color: #fffebf;
}

.sign-up-success-text-1 {
  font-size: 18px;
  color: #fffebf;
}

.link-to-sign-up {
  margin-bottom: 50px;
}

.sign-in-page {
  .header {
    font-size: 28px;
    font-weight: bold;
  }
}

.button-margin {
  margin-top: 20px;
}

img.logo {
  border-radius: 50%;
}

// .container-form {
//   margin-top: 150px;
//   form {
//     font-size: 18px;
//     .form-group {
//       .form-control {
//         height: 50px;
//         width: 65%;
//         font-size: 18px;
//         color: #333;
//       }
//     }
//     .checkbox {
//       a {
//         color: #f3f3f3;
//         text-decoration: none;
//       }
//     }
//     .btn-css {
//       height: 50px;
//       font-size: 18px;
//       color: #333;
//       width: 65%;
//       background-color: #c28a42;
//     }
//   }
// }


.img-circle {
  width: 250px;
}
